body {
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      font-size: 16px;
      background: url("background2.jpg");
      }
#pic {
      float:left;
	height:215px;
	width:138px;
	margin: 20px;
      }
#container {
	width: 1000px;
	margin: 40px auto 60px;
}
#contact-info {
      font-size: 20px
}
#name {
      font-size: 32px;
}
#header{
      border-bottom: 1px solid;
      padding: 12px;
      margin: 16px;
}
#summary{
      font-size:24px;
	margin: 20px;
}
#resume-body{
}
#experience{
}
#strengths{
}
h3{
      border-bottom:1px solid;
      padding: 1px;
      margin: 2px;
}
#tcs{
}
#rvc{
}
#target{
}
.date{
      float:right;
}
